@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.coming-soon-container{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-family: 'Bruno Ace SC', cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.coming-soon-container .clouds-container{
    position: relative;
    width: 100%;
}

.coming-soon-container #img1{
    position: absolute;
    width: 15%;
    top: 18%;
    left: 10%;
}

.coming-soon-container #img2{
    position: absolute;
    width: 5%;
    top: 32%;
    left: 33%;
}
.coming-soon-container #img3{
    width: 10%;
    position: absolute;
    top: 12%;
    left: 48%;
}
.coming-soon-container #img4{
    position: absolute;
    width: 10%;
    top: 20%;
    right: 8%;
}

.coming-soon-container .coming-soon-heading{
    position: absolute;
    top: 25%;
    right: 12%;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0;
}

.coming-soon-container .coming-soon-heading #soon{
    display: flex;
    align-items: center;
}

.coming-soon-container .coming-soon-heading .star-img{
    width: 40%;
    padding: 0;
}

.coming-soon-container .coming-soon-heading h1{
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}
.coming-soon-container .main-logo{
    position: absolute;
    z-index: -1;
    top: 45%;
    padding: 0% 5%;
    width: 100%;
    height: auto;
}

.coming-soon-container .robot{
    position: absolute;
    top: 22% ;
    right: 55%;
    width: 22%;
    height: auto;
}


/* Mobile Styles */
@media (max-width: 768px) {

    .coming-soon-container{
        height: 50vh;
    }

    
    .coming-soon-container .coming-soon-heading{
        top: 10%;
        left: 8%;
        gap: 40px;
    }

    .coming-soon-container .coming-soon-heading #soon{
        justify-content: center;
    }

    .coming-soon-container .coming-soon-heading .star-img{
        width: 40%;
        padding: 0;
    }

    .coming-soon-container .coming-soon-heading h1 {
        font-size: 2rem;
    }

    
    .coming-soon-container #img1{
        position: absolute;
        width: 15%;
        top: 30%;
        left: 10%;
    }

    .coming-soon-container #img2{
        position: absolute;
        width: 5%;
        top: 45%;
        left: 33%;
    }
    .coming-soon-container #img3{
        width: 10%;
        position: absolute;
        top: 25%;
        left: 48%;
    }
    .coming-soon-container #img4{
        position: absolute;
        width: 10%;
        top: 35%;
        right: 8%;
    }

    .coming-soon-container .robot{
        position: absolute;
        top: 35% ;
        right: 55%;
        width: 22%;
        height: auto;
    }
    .coming-soon-container img {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .coming-soon-container {
        padding: 15px;
    }

    .coming-soon-container .clouds-container #img2{
        position: absolute;
        width: 15%;
        top: 90px;
        left: 15%;
    }
    .coming-soon-container .coming-soon-heading h1 {
        font-size: 2rem;
    }

    .coming-soon-container .coming-soon-heading .star-img {
        width: 50%;
    }

    .coming-soon-container img {
        width: 100%;
    }
}