.contact-us {
    max-width: 1440px;
    margin: auto;
    margin-bottom: 5%;
    padding: 0 20px;
}

@media (max-width: 1200px) {
    .contact-us {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .contact-us {
        margin-bottom: 8%;
    }

    .breadcrumb {
        margin: 16px 0 30px;
    }
}

@media (max-width: 480px) {
    .contact-us {
        padding: 0 16px;
    }
}