.contact-us {
    max-width: 1440px;
    margin: auto;
    margin-bottom: 5%;
}

@media (max-width: 1650px) {
    .contact-us{
        width: 85%;
    }
}

@media (max-width: 768px) {
    .contact-us {
        margin-bottom: 8%;
    }
    .contact-us{
        width: 90%;
    }

}