/* Home_Testimonials.css */
.HomeTeachingHeadings#Testimonials {
    margin-bottom: 8px;
    font-size: 32px;
    color: #132611;
    font-weight: 700;
}

.HomeTeachingDescription {
    color: #526652;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 400;
}

.HomeTeachingTestimonialsBox {
    position: relative;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    border: 2px solid #2E7D32;
}

.HomeTeachingTestimonialsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* .HomeTeachingTestimonialsBox:hover {
} */

.HomeTeachingTestimonialsImage {
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid #2E7D32;
    object-fit: cover;
    object-position: center;
    margin: 8px 0;
}

/* Make description always visible and adjust styling */
.HomeTeachingTestimonialsDescription {
    position: static;
    width: 100%;
    height: 100%;
    color: #526652;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.HomeTeachingTestimonialsName {
    width: 100%;
    background-color: #e0f5dd;
    padding: 5px 5px;
    color: #526652;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;

}

/* Remove hover state for name */
.HomeTeachingTestimonialsBox:hover .HomeTeachingTestimonialsName {
    color: #526652;
}

@media screen and (max-width: 768px) {
    .HomeTeachingTestimonialsBox {
        width: 100%;
    }

    .HomeTeachingTestimonialsName {
        font-size: 1rem;
    }

    .HomeTeachingTestimonialsDescription {
        font-size: 0.8rem;
    }

    .HomeTeachingHeadings#Testimonials {
        font-size: 1.5rem;
    }

    .HomeTeachingDescription {
        font-size: 0.9rem;
    }
}