/* home.css */
* {
  box-sizing: border-box;
}

.home-container {
  max-width: 1440px;
  margin: 144px auto;
  /* 'auto' here centers the container */
  display: flex;
  flex-direction: column;
  gap: 64px;
  /* Consistent spacing between sections */
}

/* Styling for the contribution banner when it appears on the home page */
.contribution-on-home {
  margin-top: 2rem;
}

/* Ensure sections have a consistent layout */
.home-container>* {
  width: 100%;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1200px) {
  .home-container {
    margin: 80px auto;
    /* Changed to 'auto' to center it */
    width: 90vw;
    gap: 48px;
    /* Slightly reduced gap for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    margin: 60px auto;
    /* Changed to 'auto' to center it */
    width: 90vw;
    gap: 40px;
    /* Further reduced gap for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    margin: 40px auto;
    /* Changed to 'auto' to center it */
    width: 90vw;
    gap: 32px;
    /* Minimal gap for mobile screens */
  }
}